html, body, #root {
  height: auto;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  height: auto;
  width: 100%;
}

.Details{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PersonalDetails,
.educationalDetails,
.experienceDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}


#root{
  display: flex;
  height: auto;
  width: 100%;
}
